<template>
  <div>
    </br></br>
    <label>Classes & Domaines</label>:
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "ClassesDomaines",
  data () {
      return {
          options: [
            { text: 'Abysse',         value: '1' },
            { text: 'ApotrePaix',     value: '2' },
            { text: 'Appel',         value: '3' },
            { text: 'Bien',          value: '4' },
            { text: 'Bois',          value: '5' },
            { text: 'Chaos',         value: '6' },
            { text: 'Charme',        value: '7' }
          ]
      }
  }
}
</script>
