<template>
  <div class="hello">
    <h1>Configuration</h1>
    <ul>
      <li><h4>Recherche par nom </h4><input type="checkbox" value="nom" v-model="isChecked"></li>
      <li><h4>Recherche par branches </h4><input type="checkbox" value="branches" v-model="isChecked"></li>
      <li><h4>Recherche par Classes & Domaines </h4><input type="checkbox" value="classesDomaines" v-model="isChecked"></li>
      <li><h4>Recherche par niveau </h4><input type="checkbox" value="niveau" v-model="isChecked"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Configuration",
  data() {
    return {
      isChecked: []
    }
  },
  watch: {
    isChecked(newValue, oldValue) {
      localStorage.setItem("config", JSON.stringify(newValue));
    }
  },
  mounted() {
    this.isChecked = JSON.parse(localStorage.getItem("config")) || []
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display:flex;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
