<template>
  <div>
    </br></br>
    <label>Ecoles</label>:
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "Ecoles",
  data () {
      return {
          selected: 'A',
          options: [
            { text: 'Abjuration',    value: '1' },
            { text: 'Divination',    value: '2' },
            { text: 'Enchantement',  value: '3' },
            { text: 'Evocation',     value: '4' },
            { text: 'Illusion',      value: '5' },
            { text: 'Invocation',    value: '6' },
            { text: 'Nécromancie',   value: '7' },
            { text: 'Transmutation', value: '8' },
            { text: 'Universel',     value: '9' }
          ]
      }
  }
}
</script>
