<template>
  <nav>
        <img src="../assets/logo.png" height="40vh">
        <ul>
            <li><router-link to="/">Configuration </router-link></li>
            <li><router-link to="/recherche">Recherche</router-link></li>
            <li><router-link to="/statistique">Statistiques</router-link></li>
        </ul>
    </nav>
</template>

<script>
export default {
  name: "Navbar",
  methods: {
    changeContent (content) {
      this.$parent.content = content;
    }
  }
};
</script>

<style lang="css" scoped>
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    margin:0;
    position: sticky;
    width:100wv;
    align-items: center;
    background-color: rgb(127, 140, 165);
}
nav ul{
    display: flex;
    flex-direction: row;
    width:90vw;
    justify-content: flex-end;
    margin:0;
    list-style: none;
}
nav ul li{
    margin : 0 20px;
    font-size:  20px;
}
nav img{
    margin:0 10px;
}
</style>