<template>
  <div>
    </br></br>
    <label>Niveaux</label>:
    <select v-model="selected">
      <option v-for="index in 10" :key="index">
        Niveau {{ index }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "Niveaux",
}
</script>
