<template>
  <form id="Recherche"
    @submit="checkForm">
    <h1>Page de Recherche de sorts</h1>
    <label>Nom</label>: <input>
    <slot></slot>
    <Ecoles/>
    <Branches/>
    <ClassesDomaines/>
    <Niveaux/>
    </br></br>
    <p><input type="submit" value="Rechercher"></p>
  </form>
</template>

<script>
import Ecoles from './ecoles.vue'
import Branches from './branches.vue'
import ClassesDomaines from './classes_domaines.vue'
import Niveaux from './niveaux.vue'

export default {
  name: 'Recherche',
  components: {
    Ecoles,
    Branches,
    ClassesDomaines,
    Niveaux
  },
  data () {
    return {
      name: {
        title: 'Name',
        value: ''
      },
      msg: 'Recherche'
    }
  },
  methods: {
    checkForm: function(e) {
      // On clear les erreurs
      this.errors = [];

      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
