<template>
  <div class="hello">
    <h1>Statistiques</h1>
    <ul>
      <li><h4>Nombre de livres : {{nbLivre}}</h4></li>
      <li><h4>Nombre de sorts : {{nbSort}}</h4></li>
      <li><h4>Nombre d'ecoles : {{nbEcole}}</h4></li>
    </ul>
  </div>
</template>

<script>
import { countSorts, countBooks, countSchools } from './fonction'

export default {
  name: 'Statistique',
  data() {
    return {
      nbEcole: countSchools(),
      nbSort: countSorts(),
      nbLivre: countBooks(),
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
